[submodule "FEX"]
	path = FEX
	url = https://github.com/Dhinesh0906/FEX.git
	branch = winvoy
[submodule "wine"]
	path = wine
	url = https://github.com/Dhinesh0906/wine.git
	branch = winvoy
[submodule "dxmt"]
	path = dxmt
	url = https://github.com/Dhinesh0906/dxmt.git
	branch = winvoy
[submodule "madeira-dock"]
	path = madeira-dock
	url = https://github.com/willfaust/madeira-dock.git
	branch = main
